@import url("colors.css");

* {
    font-family: JetBrainsMono Nerd Font;
    font-size: 18px;
    color: @color2;
}

window#waybar {
	background-color: @background;
	border-right: 3px solid @color2;
}

#workspaces {
    margin-left: -8px;
    margin-top: 5px;
} 

#clock {
    font-size: 20px;
    font-weight: bold;
}

#idle_inhibitor {
    margin-left: -8px;
}

#pulseaudio {
    margin-left: -4px;
    font-size: 25px;
}

#pulseaudio.bluetooth {
    color: #1232ff;
}

#pulseaudio.muted {
    color: #ff2323;
}

#network {
    margin-left: -5px;
    font-size: 18px;
}

#backlight {
    font-size: 25px;
    margin-left: -8px;
}

#language {
    font-weight: bold;
}

#battery {
    font-size: 25px;
    margin-bottom: 5px;
}

#battery.warning {
	color: #ffa500;
}

#battery.critical {
	color: #ff0000;
}

#battery.charging {
	color: #00FF00;
}
